/* https://coolors.co/palette/54282c-355a6a-071b24-2c4e5b-476173 */
#pinwheel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#pinwheel img {
    width: 80%;
    height: 80%;
}

#summary {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#name {
    margin: 0;
}

#status {
    position: sticky;
    color: transparent;
    background: rgb(191, 240, 152);
    background: linear-gradient(138deg, rgba(191, 240, 152, 1) 9%, rgba(111, 214, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1em;
    margin: 0;
}

#home {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

@media all and (min-width: 768px) {
    #status {
        font-size: 3em;
    }

    #summary {
        padding: 7em;
        text-align: left;
        align-items: unset;
    }
}

@media all and (min-width: 1024px) {
    #home {
        grid-template-columns: 1fr 1fr;
    }
}